---
const currentYear = new Date().getFullYear();
---

<footer class="bg-neutral-900 text-neutral-300">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-6">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <p class="text-neutral-500 text-sm">
        © {currentYear} Taufiq Septryana. All rights reserved.
      </p>
    </div>
  </div>
</footer>